In [1]:
%load_ext sql

In [2]:
%sql sqlite:///mokytojai.db

In [3]:
%%sql
CREATE TABLE IF NOT EXISTS mokytojai (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    vardas TEXT,
    pavarde TEXT,
    destomas_dalykas TEXT,
    atlyginimas REAL
);

 * sqlite:///mokytojai.db
Done.

[]

In [4]:
%%sql
INSERT INTO mokytojai (vardas, pavarde, destomas_dalykas, atlyginimas) VALUES
('Jonas', 'Jonaitis', 'Matematika', 1500),
('Petras', 'Petraitis', 'Fizika', 1800),
('Ona', 'Onaitytė', 'Lietuvių kalba', 1600),
('Rasa', 'Rasaitė', 'Istorija', 1750);

 * sqlite:///mokytojai.db
(sqlite3.OperationalError) table mokytojai has no column named destomas_dalykas
[SQL: INSERT INTO mokytojai (vardas, pavarde, destomas_dalykas, atlyginimas) VALUES
('Jonas', 'Jonaitis', 'Matematika', 1500),
('Petras', 'Petraitis', 'Fizika', 1800),
('Ona', 'Onaitytė', 'Lietuvių kalba', 1600),
('Rasa', 'Rasaitė', 'Istorija', 1750);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [5]:
%%sql
SELECT * FROM mokytojai;

 * sqlite:///mokytojai.db
Done.

KeyError: 'DEFAULT'

In [6]:
import prettytable
from sql.run import ResultSet
from prettytable import TableStyle

ResultSet.prettytable = prettytable.PrettyTable()
ResultSet.prettytable.set_style(TableStyle.MSWORD_FRIENDLY)

In [7]:
%%sql
DROP TABLE IF EXISTS mokytojai;

CREATE TABLE mokytojai (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    vardas TEXT,
    pavarde TEXT,
    destomas_dalykas TEXT,
    atlyginimas REAL
);

 * sqlite:///mokytojai.db
Done.
Done.

[]

In [8]:
%%sql
INSERT INTO mokytojai (vardas, pavarde, destomas_dalykas, atlyginimas) VALUES
('Jonas', 'Jonaitis', 'Matematika', 1500),
('Petras', 'Petraitis', 'Fizika', 1800),
('Ona', 'Onaitytė', 'Lietuvių kalba', 1600),
('Rasa', 'Rasaitė', 'Istorija', 1750);

 * sqlite:///mokytojai.db
4 rows affected.

[]

In [9]:
%%sql
SELECT vardas || ' ' || pavarde AS "Pilnas Vardas" FROM mokytojai;

 * sqlite:///mokytojai.db
Done.

KeyError: 'DEFAULT'

In [10]:
%%sql
SELECT vardas || ' ' || pavarde AS "Pilnas Vardas" FROM mokytojai;

 * sqlite:///mokytojai.db
Done.

KeyError: 'DEFAULT'

In [11]:
pip install --upgrade ipython-sql sqlalchemy

Requirement already satisfied: ipython-sql in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (2.0.38)
Requirement already satisfied: prettytable in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (8.32.0)
Requirement already satisfied: sqlparse in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: colorama in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: exceptiongroup in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: jedi>=0.16 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [12]:
%%sql
SELECT vardas || ' ' || pavarde AS "Pilnas Vardas" FROM mokytojai;

 * sqlite:///mokytojai.db
Done.

KeyError: 'DEFAULT'

In [13]:
%%sql
SELECT vardas || ' ' || pavarde AS "Pilnas Vardas" FROM mokytojai;

 * sqlite:///mokytojai.db
Done.

KeyError: 'DEFAULT'

In [14]:
import prettytable
from sql.run import ResultSet
from sql.config import SQLConfig

# Išjungiame `DEFAULT` stiliaus naudojimą
config = SQLConfig()
config.style = None

# Rankiniu būdu nustatome tinkamą lentelės stilių
ResultSet.prettytable = prettytable.PrettyTable()
ResultSet.prettytable.set_style(prettytable.SINGLE_BORDER)

ModuleNotFoundError: No module named 'sql.config'

In [15]:
import prettytable
from sql.run import ResultSet

# Pakeičiame `DEFAULT` stilių į `SINGLE_BORDER`
ResultSet.prettytable = prettytable.PrettyTable()
ResultSet.prettytable.set_style(prettytable.SINGLE_BORDER)

C:\Users\Mindaugas\AppData\Local\Temp\ipykernel_3524\526026686.py:6: DeprecationWarning: the 'SINGLE_BORDER' constant is deprecated, use the 'TableStyle' enum instead
  ResultSet.prettytable.set_style(prettytable.SINGLE_BORDER)

In [16]:
import sql
sql.run.prettyprint = False

In [17]:
import pkg_resources
print(pkg_resources.get_distribution("ipython-sql").version)

0.5.0

C:\Users\Mindaugas\AppData\Local\Temp\ipykernel_3524\3151076162.py:1: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
  import pkg_resources

In [18]:
pip install --upgrade ipython-sql

Requirement already satisfied: ipython-sql in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (8.32.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: exceptiongroup in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: jedi>=0.16 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [19]:
ResultSet.prettytable.set_style(prettytable.SINGLE_BORDER)

In [20]:
import sql
sql.run.prettyprint = False

In [21]:
pip install --upgrade ipython-sql

Requirement already satisfied: ipython-sql in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (8.32.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: exceptiongroup in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: jedi>=0.16 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\mindaugas\desktop\python\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [22]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%load_ext sql
%sql sqlite:///mokytojai.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
import prettytable
from sql.run import ResultSet

# Nustatome lentelės stilių
ResultSet.prettytable = prettytable.PrettyTable()
ResultSet.prettytable.set_style(prettytable.SINGLE_BORDER)

In [25]:
%%sql
DROP TABLE IF EXISTS mokytojai;

CREATE TABLE mokytojai (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    vardas TEXT,
    pavarde TEXT,
    destomas_dalykas TEXT,
    atlyginimas REAL
);

 * sqlite:///mokytojai.db
Done.
Done.

[]

In [26]:
%%sql
INSERT INTO mokytojai (vardas, pavarde, destomas_dalykas, atlyginimas) VALUES
('Jonas', 'Jonaitis', 'Matematika', 1500),
('Petras', 'Petraitis', 'Fizika', 1800),
('Ona', 'Onaitytė', 'Lietuvių kalba', 1600),
('Rasa', 'Rasaitė', 'Istorija', 1750);

 * sqlite:///mokytojai.db
4 rows affected.

[]

In [27]:
%%sql
SELECT * FROM mokytojai;

 * sqlite:///mokytojai.db
Done.

KeyError: 'DEFAULT'